h1 {
    font-size: 30px; 
}

.social-icon{
    height: 50px;
    padding: 10px;
}

#profile_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flex-container{
    display: flex;
}

.flex-child-icons{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.flex-child{
    width: 50%;
    float: left;
    padding: 20px;
}

body{
    background-color: #BAD1CD;
}